POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce_dev_password
POSTGRES_AUTH_DB=auth_db
POSTGRES_INVENTORY_DB=inventory_db
POSTGRES_ORDER_DB=order_db
POSTGRES_PAYMENT_DB=payment_db
POSTGRES_NOTIFICATION_DB=notification_db

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=mongo_dev_password
MONGO_CATALOG_DB=catalog_db

REDIS_PASSWORD=redis_dev_password

JWT_SECRET=local-development-secret-change-this-to-a-long-random-value

ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

KAFKA_BROKER_ID=1
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
